h3 {
    color: green;
    background: #eee;
}

.card {
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}

.html {
    background: orange;
    color: white;
}

.css {
    background: blue;
    color: white;
}

#header {
    background: #ddd;
}