* {
  margin: 0;
  padding: 0;
}

.html {
  height: 100%;
}

.main {
  min-height: 100%;
  background-image: url("../images/login_backgorund.jpg");
  background-size: cover;
  background-position-y: 25%;
  background-color: rgba(66, 70, 73, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main__logo {
  display: inline-block;
}

.logo__subtitle {
  font-family: Oxygen;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-top: 16px;
}

.main__login-form {
  max-width: 480px;
  height: 560px;
  background-color: rgba(255, 255, 255, 1);
  flex-grow: 1;
  border-radius: 3px;
}

.login-form__title {
  font-family: Lora;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin: 56px 0 0 40px;
}

.error-block {
  display: none; /* none -> flex при invalid*/
  background-color: rgba(255, 235, 234, 1);
  border-left: 2px solid rgba(232, 105, 97, 1);
  max-width: 440px;
  border-radius: 5px;
  margin: 40px;
}

.error__image {
  margin: 10px 0 13px 10px;
}

.error__text {
  display: inline-block;
  font-family: Oxygen;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 12px 0 10px 12px;
}

.login-form__input-inf {
  max-width: 400px;
  height: 250px;
  margin: 50px 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email__title {
  font-family: Oxygen;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: rgba(122, 122, 122, 1);
}

.email__input {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  font-family: Oxygen;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(46, 46, 46, 1);
}

#email__require {
  display: none;
  margin-top: 5px;
  font-family: Oxygen;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: rgba(232, 105, 97, 1);
}

.password__title {
  font-family: Oxygen;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: rgba(122, 122, 122, 1);
}

.password-container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.password__input {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid rgb(234, 234, 234);
  font-family: Oxygen;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(46, 46, 46, 1);
}

#password__require {
  display: none;
  margin-top: 5px;
  font-family: Oxygen;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: rgba(232, 105, 97, 1);
}

#password__button {
  cursor: pointer;
  position: absolute;
  margin-left: 372px;
  margin-top: 12px;
}

.password__input:focus,
.email__input:focus {
  background-color: rgb(247, 247, 247);
  outline: none;
  border-bottom: 1px solid rgba(46, 46, 46, 1);
  transition: background-color 0.35s ease;
}

.input-inf__button {
  width: 93px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  gap: 10px;
  border-radius: 3px;
  border: none;
  background-color: rgba(221, 120, 63, 1);
  font-family: Oxygen;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.input-inf__button:hover {
  background-color: rgb(210, 120, 63, 1);
  transition: background-color 0.25s ease;
  outline: none;
}

.input-inf__button:active {
  outline: none;
  background-color: rgb(195, 120, 63, 1);
}
