@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.header-navigation {
  margin-left: 250px;
  margin-top: 17px;
}

.header-logo {
  vertical-align: bottom;
  margin-bottom: 5px;
}

.header-list {
  display: inline-block;
  margin-left: 500px;
}

.header-list li {
  vertical-align: 0.5;
  display: inline-block;
  margin: 10px 20px;
  font-family: "Oxygen", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
  text-align: left;
  text-transform: uppercase;
}

.main {
  margin-left: auto;
  margin-right: auto;
}

.upper {
  height: 159px;
  width: 100%;
  margin-top: 89px;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  font-family: "Lora", sans-serif;
  font-size: 50px;
  font-weight: 400px;
  line-height: 51px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: normal;
}

.main-subtitle {
  font-family: "Oxygen", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #2e2e2ea1;
  opacity: 63%;
}

.photo {
  width: 100%;
  height: 534px;
  border-radius: 3px;
  margin-top: 38px;
  background-blend-mode: multiply;
}

.text {
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.paragraph {
  font-family: "Oxygen", sans-serif;
  font-size: 24px;
  font-weight: 400px;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 30px;
}

.footer-navigation {
  margin-left: 240px;
}

.footer-list {
  padding-top: 28px;
}

.footer {
  margin-top: 135px;
  width: 100%;
  height: 89px;
  background: rgba(35, 47, 56, 0.6);
  background-blend-mode: overlay;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: 100%;
  display: block;
}

.footer-logo {
  vertical-align: bottom;
  margin-bottom: 5px;
}

.footer-list {
  display: inline-block;
  margin-left: 500px;
}

.footer-list li {
  display: inline;
  color: rgba(255, 255, 255, 0.6);
  vertical-align: 0.5;
  display: inline-block;
  margin: 10px 20px;
  font-family: "Oxygen", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
  text-align: left;
  text-transform: uppercase;
}
