body {
    line-height: 35px;
}


header {
    display: flex;
    padding: 20px 250px 28px;
    justify-content: space-between;
}

.main__head {
    text-align: center;
    color: rgb(255, 255, 255);
    z-index: -1;
    display: grid;
    position: relative;
    padding: 184px 250px 157px;
    bottom: 74px;
    align-items: center;
    justify-items: center;
    background-image: url("../Photos/Let's do it together.jpg");
    background-size: cover;
}

.main__head__title {
    color: rgb(255, 255, 255);
    font-family: "Lora", serif;
    margin-top: -7px;
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
}

.main__head__subtitle {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.63);
    font-family: "Oxygen", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.content__title {
    color: rgb(46, 46, 46);
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 2px;
    text-align: center;
}

.main__button {
    margin-top: 31px;
    padding: 12px 31px;
    color: rgb(255, 255, 255);
    font-family: "Oxygen", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.main__menu {
    display: flex;
    justify-content: space-between;
    margin: -65px 240px 10px;
}

.main__menu li {
    display: inline-block;
    padding: 13px 46px 13px;
    color: rgb(118, 128, 136);
    font-family: "Lora", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.logo__list li {
    list-style-type: none;
    display: inline;
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-align: left;
    text-transform: uppercase;
    margin-left: 40px;
}

.header__nav {
    margin-top: -10px;
    color: rgb(255, 255, 255)
}

.main__button {
    padding: 225px, 636px;
    border-radius: 3px;
    background: rgb(221, 120, 63);
}

.content__block_first {
    position: relative;
    background-image: url("../Photos/Small_mountains.png");
    padding-top: 157px;
    padding-left: 20px;
}

.content__block {
    margin: 16px 240px;
}

.content__block_naming {
    padding-right: 236px;
    color: rgb(255, 255, 255);
    font-family: "Lora", serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.content__block_description {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Oxygen", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}

.avatar-name-Mat {
   display: flex;
}

.date-Mat {
    display: inline;
    margin-left: 215px;
}

.avatar-name-Mat img {
    display: inline-block;
    margin: 17px 20px 10px 19px;
}

.avatar-name-Mat p {
    margin-top: 12px;
    display: inline-block;
}

.content__block_author {
    align-items: center;
    display: flex;
}

footer {
    font-family: 'Lora', serif;
    height: 89px;
    background-image: url("../Photos/Bottom_image.png");
}

.footer-color {
    background: rgba(35, 47, 56, 0.6);
    width: 100%;
    height: 100%;
}

.footer__content {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    padding-top: 27px;
    justify-content: space-between;
}

.bottom__header {
    color: rgba(255, 255, 255);
}

.content__block {
    display: inline-block;
}

.bottom__li {
    color: rgba(255, 255, 255, 0.6);
}

* {
    margin: 0;
    padding: 0;
}